/* CSS Document */
header#header {
    position: relative;
    z-index: 9;
}
.menu-toggle{font-size: .6em;
text-transform: uppercase;
text-decoration: none;
color:#ccc;
text-align: center;
} 
.menu-icon {
    width: 30px;
    height: 30px;
}
.menu-icon .line {
    background: #ccc;
    border-radius: 15px;
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px 0;position: relative;
	-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}
.menu-icon .line:first-child {
    border-radius: 15px 15px 0 0;
}
.menu-icon .line:last-child {
    border-radius: 0 0 15px 15px;
}
.menu-toggle.cerrado .menu-icon .line:first-child {
    border-radius: 15px ;
}
.menu-toggle.cerrado .menu-icon .line:last-child {
    border-radius: 15px;
}
.menu-toggle.cerrado .menu-icon .line:nth-child(1n) {
top: 10px;
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.menu-toggle.cerrado .menu-icon .line:nth-child(2n) {opacity: 0}
.menu-toggle.cerrado .menu-icon .line:nth-child(3n) {
top: -10px;
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.header-menus.cerrado{
	
	left: -320px;
	opacity: 0;
    
}
.header-menus{
	background-color: #1c252e;
	width: 320px;
	max-width: 90%;
	position: absolute;
    top:0;
	left: 0px;
	opacity: 1;
	-webkit-box-shadow: 5px 10px 10px 0 rgba(0,0,0,.1);
box-shadow: 5px 10px 10px 0 rgba(0,0,0,.1);
	-webkit-transition: all 3ms ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
 a.logo {
    text-decoration: none;
    font-size: 24px;
    display: flex;
    color:#fff
    
  }
  .header-menus a.logo {
    padding: 15px 0 0 10px;
    background: rgba(250, 250, 250, 0.1);
    
    
  }
  .logo svg{
    width: 28px;
    height: 28px;
    margin-right: 10px;
    fill:#ff5276;}
    

.header-menu-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 10px;
    border-bottom: solid 1px rgba(250, 250, 250, 0.1);
	background: rgba(250, 250, 250, 0.1);
}
.header-menu-top a {
    display: block;
    padding: 5px;
    border-radius: 5px;
  }
  .header-menu-top a:hover {
    background: #a4dbff;
background: -moz-linear-gradient(-45deg,  #a4dbff 0%, #36a5f0 100%);
background: -webkit-linear-gradient(-45deg,  #a4dbff 0%,#36a5f0 100%);
background: linear-gradient(135deg,  #a4dbff 0%,#36a5f0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4dbff', endColorstr='#36a5f0',GradientType=1 );
-webkit-box-shadow: 0 10px 30px 0 #36a5f08a;
box-shadow: 0 10px 30px 0 #36a5f08a;
-webkit-transition: all 3ms ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

  }
  .header-menu-top a svg{
    fill:#aaa;
    width: 25px;
    height: 25px;
  }
  .user-icon {
    margin-right: 5px;
  }
  .cart-icon a svg{
    width: 30px;
    height: 30px;
  }
  .header-menu-top a:hover svg{
    fill:#fff
  }
.menu-buscador input[type="text"] {
    padding: 10px 10px 10px 45px;
    width: 60%;
    border-radius: 4px;
    border: solid 1px #ccc;
    background: url(../img/lupa-icon.svg) no-repeat 7px 7px;
    background-size: 25px;
    color:#fff;
}
.menu-buscador input[type="text"]:focus {
    background-color: #333a42;
    border: solid 1px #36a5f0;
    outline: none;
    color:#fff;
    -webkit-box-shadow: 0 10px 30px 0 #36a5f08a;
box-shadow: 0 10px 30px 0 #36a5f08a;
-webkit-transition: all 3ms ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
.cart-icon{position: relative;}
.cart-label {
    color: #fff;
    background: #fe8d79;
background: -moz-linear-gradient(-45deg,  #fe8d79 0%, #ff5276 100%);
background: -webkit-linear-gradient(-45deg,  #fe8d79 0%,#ff5276 100%);
background: linear-gradient(135deg,  #fe8d79 0%,#ff5276 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8d79', endColorstr='#ff5276',GradientType=1 );
    border-radius: 100%;
    position: absolute;
    font-size: .7em;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    top: -5px;
    right: -5px;
    font-weight: bold;
    display: block;
    -webkit-box-shadow: 0 10px 30px 0 #ff52758a;
box-shadow: 0 10px 30px 0 #ff52768a;
  }
 
.header-menu-pie {
    padding: 15px;
    text-align: center;
    font-size: .8em;
    color: #ababab;
	border-top: solid 1px #ccc;
	background: fafafa;
	-webkit-box-shadow: 0 -2px 10px 0 rgba(0,0,0,.2);
box-shadow: 0 -2px 10px 0 rgba(0,0,0,.2);
}
.header-menu-social svg {
    width: 25px;
	color: #36a5f0;
    fill: currentColor;
}
.header-menu-legal {
  opacity: .8;
  margin-top: 7px;
}
/* menu burguer css */
.menu-burguer{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.main-navigation{
	overflow-y: auto;
}
/* width */
.main-navigation::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.main-navigation::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.main-navigation::-webkit-scrollbar-thumb {
  background: #ccc; 
}

/* Handle on hover */
.main-navigation::-webkit-scrollbar-thumb:hover {
  background: #f90; 
}
.menu-burguer ul {
    list-style: none;
    margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
}
.page_item{
	
	border-bottom: solid 1px #00000017;
    border-radius: 8px;
    margin: 5px;  
    -webkit-transition: background 3ms ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;  
}
.page_item:hover{
    background: #fe8d79;
background: -moz-linear-gradient(-45deg,  #fe8d79 0%, #ff5276 100%);
background: -webkit-linear-gradient(-45deg,  #fe8d79 0%,#ff5276 100%);
background: linear-gradient(135deg,  #fe8d79 0%,#ff5276 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8d79', endColorstr='#ff5276',GradientType=1 );
-webkit-box-shadow: 0 10px 30px 0 #ff52758a;
box-shadow: 0 10px 30px 0 #ff52768a;
}
.page_item a {
    padding: 15px;
    display: block;
    
}
.page_item:hover > a {
    color:#1c252e;
}
li.volver-toggle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px 10px ;
    margin: 0;
border-radius: 0;
border-bottom: #fff solid 1px;
background: rgba(255,255,255,.1);


}
span.sub-nav-toggle {
    padding: 0;
    height: 20px;
    cursor: pointer;
    border-radius: 100%;
    margin-right: 8px;
    -webkit-transition: all 3ms ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .sub-nav-toggle svg{fill:#fff9; width: 20px; height: 20px;}
  li.page_item:hover > span.sub-nav-toggle {
    background: #fff9;
    }
  li.page_item:hover > .sub-nav-toggle svg{fill:#ff5276 ; width: 20px; height: 20px;}
  li.volver-toggle .left-arrow {
    margin-right: 6px;
    padding: 0;
    height: 20px;
    border-radius: 100%;
    -webkit-transition: all 3ms ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  li.volver-toggle:hover > .left-arrow {
    background: #fff9;
   }
  .volver-toggle svg{
      fill:#ffffff91; 
    width: 20px; 
    height: 20px;
    -webkit-transition: all 3ms ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;}
  .volver-toggle:hover svg{fill:#1c252e;}
.menu-burguer li.volver-toggle a{
	text-decoration: none;
	color:#fff;
	font-weight: bold;
	font-size: 1.2em;
}
ul.menu.children {
    position: absolute;
    width: 100%;
    background-color: #1c252e;
    left: 400px;
	top: 0px;
	bottom: 0;
	right: 0;
    -webkit-transition: all 5ms ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
ul.menu.children.active {
	left: 0;
    opacity: 1;
	background-color: #283541;
  z-index: 1;
}
    ul.menu.children.active ul.menu.children.active { background-color: #364758;}

    ul.menu.children.active ul.menu.children.active ul.menu.children.active{ background-color: #43576b;}

.volver-toggle .sub-nav-toggle{display:none}


/*stilo del menu */
li.page_item a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .1em;
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
    
}
span.item-label {
  position: absolute;
  color: #1c252e;
  left: 13px;
  top:12px;
  height: 20px;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 0.9em;
  width: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fe8d79;
background: -moz-linear-gradient(-45deg,  #fe8d79 0%, #ff5276 100%);
background: -webkit-linear-gradient(-45deg,  #fe8d79 0%,#ff5276 100%);
background: linear-gradient(135deg,  #fe8d79 0%,#ff5276 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8d79', endColorstr='#ff5276',GradientType=1 );


  animation-duration: 6s;
  animation-name: parpadeo;
  animation-iteration-count: infinite;

}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
li.page_item:hover a .item-label {
  color:#fff;
  background: #364758;

}
li.page_item:hover a .icon-item{
  margin-right: 15px;
}

li.page_item a .icon-item {
  width: 15px;
    height:15px;
    display: block;
    margin-right: 20px;
    -webkit-transition: all 5ms ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    
}
li.volver-toggle a .icon-item {
  width: 20px;
  height: 20px;
  margin-right: 9px;
  opacity: .5;
}
li.page_item.page_item_has_children {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


/*capa off*/
.capa-off {
    position: absolute;
    background: #00000099;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	z-index: 1;
	-webkit-transition: all 5ms ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
	
}
.capa-off.off {
    visibility: hidden;
	opacity: 0;
}

/* @media (min-width: 900px) {
  .header-menus.cerrado,.header-menus{
    width: 100%;
    max-width: none;
    position: relative;
    left: 0px;
    opacity: 1;
    height: 125px;
    
}a.logo {
    font-size: 24px;
    padding: 0;
    background: transparent;
  }
  .header-menus a.logo {
    display: none;
  }
.menu-toggle {
    display: none;
  }
	.menu-burguer {
    height: auto;
    overflow: visible;
}

  
	.main-navigation {
    overflow: visible;
}
.menu-burguer  ul {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    background: #ffffff0f;
  }
  .page_item{
    border-bottom: none;
    border-radius: 8px;
    margin: 0;
  }
	li.page_item.page_item_has_children {
    position: relative;
    display: block;
}li.page_item.page_item_has_children li.page_item.page_item_has_children{
    position: relative;
    flex-wrap: wrap;
}
	ul.menu.children {
    opacity: unset;
    left: unset;
    right: unset; 
    position: relative;
    top: unset;
    width: 300px !important;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
		
}
	ul.children.active {
    left: 0;
	right: 0;
    top: 45px;
    display: flex;
}
.volver-toggle {
    display: none !important;
  }
	.header-menu-pie {
    display: none;
}
} */