/* CSS Document */
html,body{height: 100%;}
body{font-family: Helvetica,Arial,sans-serif !important;}
body{
	background: #1c252e;
    color:#fff;
/* background: -moz-linear-gradient(-45deg,  #458caa 0%, #d7d5b9 53%, #e5cda9 76%, #e99c4a 96%, #a86530 100%);
background: -webkit-linear-gradient(-45deg,  #458caa 0%,#d7d5b9 53%,#e5cda9 76%,#e99c4a 96%,#a86530 100%);
background: linear-gradient(135deg,  #458caa 0%,#d7d5b9 53%,#e5cda9 76%,#e99c4a 96%,#a86530 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#458caa', endColorstr='#a86530',GradientType=1 ); */

}

.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.body-content{padding:10px}

strong {
    color: #ff5276;
    font-weight: 600;
  }
  i{color:#36a5f0}